<div class="background">
  <div class="wrapper">
    <div class="column left_panel_main">
      <div class="block">
        <div class="text">
          Admin panel
        </div>
        <div class="small_text">
          Entering the admin panel allows you to gain access to a whole new realm of possibilities. It grants you the
          power to create, modify, and manage the content of a website or system. As soon as you log in, you are greeted
          with a world of options, awaiting your creative touch.
        </div>
        <div style="margin-top: 40px; ">
          <a routerLink="/authentication/login" class="button">
            Log in
          </a>
        </div>
      </div>
    </div>
    <div class="column group_630">
    </div>

  </div>
</div>
