<div class="text_overview">Overview</div>

<div class="wrapper-dashboard">
  <div class="form charts div1 ">
    <div class="text_header">Average Charts</div>
  </div>


  <div class="form div2 maps">
    <div class="text_header">Maps</div>
  </div>


  <div class="form grid-c div3">
    <div class="text_header">Calculation</div>
  </div>

  <div class="form grid-c div4">
    <div class="text_header">Analytical</div>
  </div>

  <div class="form grid-c div5">
    <div class="text_header"></div>
  </div>

  <div class="form grid-c div6">
    <div class="text_header">div6</div>
  </div>







</div>
