<div class="left_panel">


  <div class="top_element">
    <a class="img-icon logo">

    </a>
    <a class="preview">Admin panel</a>
  </div>

  <div class="elements">


    <div class="element-panel" routerLink="/home/dashboard">
      <div><img src="assets/dashboard.png"></div>
      <a >Dashboard</a>
    </div>

    <div class="element-panel">
      <div><img src="assets/message.png"></div>
      <a>Messages</a>
    </div>


      <div class="element-panel" routerLink="shops">
        <div><img src="assets/store.png"></div>
        <a >Shops</a>
      </div>

    <div  routerLink="items" class="element-panel">
      <div><img src="assets/items.png"></div>
      <a>Items</a>
    </div>
    <div (click)="exit()" class="element-panel">
      <div><img src="assets/exit.png"></div>
      <a>Exit</a>
    </div>


  </div>

</div>

<div class="top_panel">
  <div class="left">
    <input class="input-text-search" placeholder="Search" type="text"/>
    <div class="background_search">
      <img src="assets/search.png">
    </div>
  </div>

  <div class="right">
    <div class="text_hi">
      Hi, {{getToken().getUserEmail()}}
    </div>
    <div class="back_white">
      <div class="image-profile">

      </div>
    </div>
  </div>

</div>

<div class="container-main">
  <router-outlet></router-outlet>
</div>
