@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
html{
  font-family: 'Helvetica', 'Arial', sans-serif;
}


.width-50-percent{
  width: 50%;
}
.width-100-percent{
  width: 100%;
}

.margin-top-10{
  margin-top: 10px;
}

:root {
  --width-panel: 340px;
  --start-size-panel: 30%;
  --end-size-panel: calc(100% - var(--start-size-panel));
  --top-text-in-left-panel-home: 35px;
  --shop-img-size-width: 420px;
  --shop-img-size-height: 354px;
}


body {
  margin: 0px;
}


.pointer {
  cursor: pointer;
}


.window-form {
  width: 40%;
  min-width: 500px;
  height: calc(100% - 50px);
  background-color: white;
  border-left: 1px solid #8080805e;
  padding: 15px;
}

.text_h1 {

  margin-top: 5px;
  font-size: 35px;
  color: black;
  font-weight: 500;
  text-align: center;
}

.color-grey {
  color: grey;
}

.color-red{
  color: red;
}


.color-green{
  color: green;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width-1024{
  width: 1024px;
}
.bold{
  font-weight: 700;
}


.text_average {
  font-size: 14px;
}

.distance-2{
  margin-top: 2px;
}

.input-text {
  background-color: #f0f2f5;
  border-radius: 15px;
  width: 100%;
  min-height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.51);
  margin-top: 5px;
  font-size: 20px;
  padding: 3px;
  padding-left: 10px;

}

.img-icon {
  width: 40px;
  height: 40px;
}


.button {
  min-width: 200px;
  min-height: 32px;
  background-color: #00BF96;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: 500;
  cursor: pointer;

}

.blue-back {
  background-color: #1A3D8A;
}

.top_panel {
  background-color: #6690ff;
  position: absolute;
  width: calc(100% - var(--width-panel));
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: var(--width-panel);
  z-index: -1;
  /*
  box-shadow: 2px -4px 15px black;
   */
  box-shadow: -1px 1px 3px black;
}

.input-text-search {
  /* border-radius: 12px; */
  border-radius: 12px 0px 0px 12px;
  background-color: white;
  height: 30px;
  min-width: 250px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
  outline: none;
  outline-width: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

.input-text-search::placeholder {
  /* modern browser */
  color: grey;
}

.top_panel .left {
  margin-left: 20px;
  display: flex;
}


.top_panel .right {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_hi {
  font-size: 20px;
  font-weight: 50;
  color: rgba(255, 255, 255, 0.94);
}

.image-profile {
  width: 40px;
  height: 40px;

  border-radius: 50px;
  background: url("src/assets/white_user.png");
  background-repeat: no-repeat;
  background-position: center;

  background-size: contain;
}

.back_white {

  margin-left: 15px;
}

.logo {
  background: url("src/assets/icon.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 25px;
  background-size: contain;
}

.left_panel {
  position: absolute;
  min-width: var(--width-panel);
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #463bfb;
  z-index: 0;
  /* box-shadow: -6px 63px 18px black;
  box-shadow: 1px 64px 3px black;
   */
}

.left_panel .top_element {
  height: 64px;
  display: flex;
  align-items: center;
  float: left;
  background-color: #1e22ff;
  width: 100%;
}

.left_panel .top_element .preview {
  width: 100%;
  display: flex;

  align-items: center;

  color: white;
  font-width: 100;
  font-size: 30px;
  margin-left: var(--top-text-in-left-panel-home);
}

.container-main {
  width: calc(100% - var(--width-panel) - 60px);
  /* height: calc(100% - 64px); */
  height: calc(100% - 124px);
  overflow-y: auto;
  background-color: #f2f5fa;
  position: absolute;
  top: 64px;
  left: var(--width-panel);
  padding: 30px;


}

.elements {
  width: 100%;
  height: calc(100% - 300px);
  padding-top: 300px;
  /* background-color: white; */
}

.elements .element-panel {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.elements .element-panel:hover {
  background-color: rgba(0, 0, 0, 0.05);

}

.elements .element-panel img {
  width: 32px;
}

.elements .element-panel a {
  margin-left: 20px;
  color: white;
  font-size: 23px;
}


.element-panel div {
  width: var(--start-size-panel);
  display: flex;
  align-items: center;
  justify-content: right;
}

.element-panel a {
  width: var(--end-size-panel);
}

.background_search {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.background_search img {
  width: 25px;
  height: 25px;
}


.form {
  padding: 15px;
  border-radius: 18px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.19);
}

.form .text_header {

  color: grey;
  font-size: 18px;

}
